#!/bin/sh
# For uim
export XMODIFIERS='@im=uim'
export GTK_IM_MODULE='uim'
export QT_IM_MODULE='uim'
uim-xim &
uim-toolbar-gtk-systray &

#For ibus
#export XMODIFIERS="@im=ibus"
#export XMODIFIER="@im=ibus"
#export GTK_IM_MODULE=ibus
#export QT_IM_MODULE=ibus
#export DefaultIMModule=ibus
#export GTK_IM_MODULE_FILE=/usr/lib/gtk-2.0/2.10.0/immodules.cache
#ibus-daemon -dx
